.mydiv {
  display: flex;
//  flex-direction: column;
//justify-content: center;
}

.container {
  display: flex;
}

.portuguese {
//  background-color: #ff9e2c;
  background-color: lightcyan;
  flex: 1;
  padding: 1rem;
}

.english {
//  background-color: #b6701e;
  background-color: lightyellow;
  flex: 1;
  padding: 1rem;
}

.bilingual {
//  background-color: #e27c2e;
  background-color: lightcyan;
  flex: 1;
  padding: 1rem;
  /* text-align: center; */
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

.myheader {
//  background-color: #e27c2e;
  background-color: lightgray;
  flex: 1;
  text-align: center;
}

.myfooter {
//  background-color: #e27c2e;
  background-color: lightgray;
  flex: 1;
  text-align: center;
}
a:hover {
  cursor:hand;
  background: yellow;
}

dl.com-bordas {
		margin: 2em 0;
		padding: 0;
		/* width: 20em; */
		}

	.com-bordas dt {
		background-color: #131210;
		/* color: #959289; */
		color: white;
		padding: .5em .5em;
		font-weight: bold;
		/* text-align: center; */
		text-transform: uppercase;
		border-left: 1px solid #131210;
		border-right: 1px solid #131210;
		border-top: 1px solid #131210;
		}

	.com-bordas dd {
		margin: 0 0 1em 0;
		background: #DBD8D8;
		/* text-align: center; */
		padding: 1em .5em;
		/* font-style: italic; */
		border-left: 1px solid #131210;
		border-right: 1px solid #131210;
		border-bottom: 1px solid #131210;
		}

.source-code {
  background-color:#EEEEEE;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

table, td {
  border: 1px solid gray;
  margin: auto;
  border-collapse: collapse; /* borda fina */
  text-align: center;
}

.destaca {
  background-color: lightgreen;
  font-weight: bold;
  border: 1px solid blue;
}

.center {
  text-align: center;
}


.original {
  display: none;
  /*background-color: blue; */
}

#aviso {
  display: block;
  font-size: 14px;
  padding: 4px;
}
